<mat-sidenav-container class="tirage-layout">
  <mat-sidenav mode="side" opened>
      <button mat-raised-button (click)="create()" color="primary">Créer un nouveau tirage</button>
      <div *ngIf="tirages.length == 0">Pas de tirage pour le moment</div>
      <mat-list dense>
          <mat-list-item *ngFor="let tirage of tirages" [class.selected]="tirage === selectedTirage"
          (click)="onSelect(tirage)">
              <span>{{tirage.id}}</span><span>{{tirage.status}}</span>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>