.tirage-layout {
    height: 600px;
    margin: 2px;
}

.spaced {
    padding: 5px;
}

.partie {
    width: 40px;
    margin: 2px;
    padding: 2px;
    border: 2px solid #770877;
	border-radius: .2em;
    
    background-color: darkgray; 

    .terrain {
        background-color: darkgrey; 
        border-bottom: 2px solid #770877;
    }

    .temps {
        background-color: darkgrey; 
        border-top: 2px solid #770877;
    }

    .score {
        background-color: whitesmoke; 
    }

    .equipe {
        background-color: whitesmoke; 

        .gagnant {
            background-color: darkgray; 
        }
        .perdant {
            background-color: darkgray; 
        }
    }
}