<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Welcome to {{ title }}!</span>
  <span style="flex: 1 1 auto;">
    <a mat-button routerLink="/">Accueil</a>
    <a mat-button routerLink="/equipes">Liste des equipes</a>
    <a mat-button routerLink="/tirages">Tirages</a>
  </span>
  <span></span>
</mat-toolbar>
<div style="text-align:center">
  <section>
    <!--app-teams></app-teams-->
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </section>
  
</div>

